.direita {
    width:20%;
    float:left;
    margin-right:30px;
    margin-left:75px;
}
.esquerda {
    width:20%;
    float:left;
    margin-left:20px;
    margin-bottom:20px;
    margin-right:75px;
    clear:both;
}
.rodape {
    width:100%;
    height:100px;
    bottom:0;
    clear:both;
}

.img:hover{
    color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(4);
  -ms-transform: scale(4); /* IE 9 */
  -webkit-transform: scale(4); /* Safari and Chrome */
}